freelabel/bin/
freelabel/build/
freelabel/include/
freelabel/local/
freelabel/lib/
freelabel/migrations/
freelabel/__pycache__/
FreeLabel_api/__pycache__/
freelabel/share/
static/atabb-dec/
Amys-notes.txt
static/log
